
@import 'tailwindcss';

@font-face {
  font-family: 'Nerko';
  src: url('../src/assets/fonts/NerkoOne-Regular.ttf');
}

@font-face {
  font-family: 'Poppins';
  src: url('../src/assets/fonts/Poppins/Poppins-Regular.ttf');
}



html {
  scroll-behavior: smooth;
}


@theme{
  --font-nerko: Nerko, 'sans-serif';
  --font-poppins: Poppins, 'sans-serif';
}

@utility bg-primary {
  background-color: #FFFFFF; 
}

@utility text-primary{
  color:#053C5E
}

@utility border-primary{
  border-color:#053C5E
}

@utility bg-secondary {
  background-color: #053C5E; 
}

@utility text-secondary{
  color:#FFD700
}

@utility flex-center{
  @apply flex justify-center items-center ;
}

@utility col-center{
  @apply flex flex-col items-center ;
}

@utility bg-dust{
  background-image: url('../public/background-imgs/background.jpg');
  background-size: cover;
  background-position: center;
}


html {
  scroll-behavior: smooth;
}



/* HERO -- SECTION */

.HERO-SECTION{
  @apply h-fit bg-dust pt-28 px-2 overflow-clip flex-center;
}

.hero-container{
  @apply grid grid-cols-1 lg:grid-cols-2 place-items-center gap-5 place-content-center relative;
}

.hero-text-content{
  @apply text-center lg:text-start font-poppins text-primary col-center lg:items-start gap-4 ;
}


/* ABOUT -- SECTION */


.ABOUT-SECTION{
  @apply h-fit bg-secondary pb-30 pt-20 px-2 md:pb-20 md:py-15 rounded-4xl overflow-x-clip ;
}

.About-container{
  @apply relative text-secondary grid grid-cols-1 place-items-center gap-14  md:gap-6 px-2 ;
}

.heading-content{
  @apply flex-center w-full ;
}

.about-content-wrapper{
  @apply gap-10 sm:gap-5 md:gap-15 grid  grid-cols-1 md:grid-cols-2 text-center place-items-stretch relative ;
}

.about-left-side{
  @apply col-center lg:gap-3 order-2 md:order-first ;
}

.about-right-side{
  @apply flex flex-col items-center justify-center md:justify-start ;
}


/* SKILL--SECTION */


.SKILLS-SECTION{
  @apply h-fit bg-dust pt-15 pb-15 px-2  overflow-clip flex-center gap-10 ;
}




/* WORK--SECTION */

.WORK-SECTION {
  @apply h-fit bg-secondary  py-15   px-2 rounded-4xl overflow-clip flex-center relative;
}

.work-container{
  @apply relative col-center gap-15  lg:gap-10;
}

.skills-cards-wrapper{
  @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3  gap-10 sm:gap-16 z-20 px-3 md:px-5 lg:px-0 flex-center ;
}


/* EXPERIENCE--SECTION */

.EXPERIENCE-SECTION{
  @apply h-fit bg-dust md:pt-23 py-18 lg:pt-40 lg:pb-15 px-5  overflow-clip flex-center ; 
}

.experience-text{
  @apply  sm:text-2xl md:text-3xl lg:text-4xl text-center text-primary font-poppins font-semibold  lg:leading-18  max-w-7xl  ;
}


/* FOOTER-SECTION */


.FOOTER-SECTION{
  @apply px-2 pt-35 md:pt-20 bg-dust flex flex-col items-center gap-18 overflow-clip lg:h-[775px];
}



